@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'ESKlarheitGrotesk-Lt-TRIAL';
  src: url(../app/fonts/ESKlarheitGrotesk-Lt-TRIAL.otf) format('truetype');
}

@font-face {
  font-family: 'ESKlarheitGrotesk-Md-TRIAL';
  src: url(../app/fonts/ESKlarheitGrotesk-Md-TRIAL.otf) format('truetype');
}

.description-font{
  font-family: 'ESKlarheitGrotesk-Lt-TRIAL';

  line-height: 1.5;
}
.header-font{
  font-family: 'ESKlarheitGrotesk-Md-TRIAL';
  font-size: 5rem;
  line-height: 1.2;
}


/* Flip animation keyframes */
/* Keyframes for the flip animation */
@keyframes flip {
  0% {
    transform: rotateX(0);
    color: black;
  }
  50% {
    transform: rotateX(90deg);
    color: transparent; /* Hidden in mid-flip */
  }
  100% {
    transform: rotateX(0);
    color: white; /* Final color after flip */
  }
}

/* Base styles for each letter */
.flip-letter {
  display: inline-block;
  transform-origin: center;
  transition: color 1s ease;
  color: black;
}

/* Trigger the flip animation only on hover */
.hover-button:hover .flip-letter {
  animation: flip 1s forwards;
}

/* Staggered animation delays */
.letter-delay-0 { animation-delay: 1s; }
.letter-delay-1 { animation-delay: 1.3s; }
.letter-delay-2 { animation-delay: 1.5s; }
.letter-delay-3 { animation-delay: 1.7s; }
.letter-delay-4 { animation-delay: 2s; }
.letter-delay-5 { animation-delay: 2.5s; }
.letter-delay-6 { animation-delay: 3s; }
.letter-delay-7 { animation-delay: 3.5s; }
.letter-delay-8 { animation-delay: 4s; }
.letter-delay-9 { animation-delay: 4.5s; }
.letter-delay-10 { animation-delay: 5s; }
.letter-delay-11 { animation-delay: 5.5s; }

